!!!
%html
  %head
    %title PatientOverflow
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    -if flash[:notice]
      .notice.alert.alert-info= flash[:notice]

    #nav
      %h1.branding= link_to 'pof', '/'
      =form_tag search_questions_path, class: 'search-form', method: :get do
        .form-group
          = text_field_tag :search_term, '', class: 'form-control', placeholder: 'What do you wanna search for?'
          = submit_tag 'search'
      = link_to 'Ask a Question', new_question_path, class: 'ask'
      #account
        -if current_user
          =link_to "#{current_user.name}'s profile", edit_user_path
          |
          =link_to 'logout', destroy_user_session_path, method: :delete
        -else
          =link_to 'login', new_user_session_path

    #content
      = yield
